.nav {
  display: block;
  &__list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-bottom: 0;
  }
  &__link {
  color: white;
    &:before {
      content: '';
      display: block;
      margin-top: 4px;
      height: 1px;
      width: 100%;
      background-color: $primary-color;
    }
    &:after {
      content: '';
      display: block;
      margin-bottom: 4px;
      height: 1px;
      width: 100%;
      background-color: $primary-color;
    }
  }
}
