.slider {

  &__item {
    width: 80%;
    margin: 0 auto;
  }
  &__wrapper {

    &--indent {
      margin-bottom: 20px;
    }
  }
  &__photo {
    object-fit: cover;
    width: 100%;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    & *:not(:last-child) {
      margin-right: 25px;
    }
  }
  &__dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $primary-color;
    cursor: pointer;
    transition: background-color $transition-time ease;
    &.active {
      background-color: #343a40;
    }
  }
}