@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin font ($fs, $lh, $fw: null) {
  font-size: $fs;
  line-height: $lh;
  font-weight: $fw;
}

@mixin square-size ($wh) {
  width: $wh;
  height: $wh;
}